<%= simple_form_for @profile, url: profile_path do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="inputs">
      <%= f.input :name %>
      <%= f.input :email %>
      <%= f.input :father_name %>
      <%= f.input :cnic %>
      <%= f.input :phone %>
      <%= f.input :address %>
      <%= f.simple_fields_for :contact_details do |c| %>
          <%= c.input :type, collection: Device::TYPE, include_blank: false %>
          <%= c.input :value, label: 'Contact' %>
      <% end %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
