<div id="small-dialog1" class="">
  <div class="signup">
    <h3>Sign Up</h3>
    <h4>Enter Your Details Here</h4>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <%= f.input :email, required: true, autofocus: true %>
        <%= f.input :password, required: true %>

        <%= f.button :submit, 'Sign up' %>
    <% end %>
  </div>
  <button title="Close (Esc)" type="button" class="mfp-close">×</button>
</div>
