<% resource.devices.build if resource.devices.empty? %>
<div id="small-dialog1" class="">
  <div class="signup">
    <h3>Sign Up</h3>
    <h4>Enter Your Details Here</h4>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <%= f.input :name, required: true, autofocus: true %>
        <%= f.input :email, required: true %>
        <%= f.input :password, required: true %>
        <%#= f.input :password_confirmation, required: true %>
        <%= f.input :cnic, required: true %>
        <%= f.input :phone, required: true %>
        <%= f.simple_fields_for :devices do |d| %>
            <%= d.input :type, collection: Device::TYPE, include_blank: false, required: true %>
            <%= d.input :key, required: true %>
        <% end %>
        <%= f.button :submit, 'Sign up' %>
    <% end %>

    <%= render 'devise/shared/links' %>

    <!--<input type="text" value="First Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'First Name';}" />-->
    <!--<input type="text" value="Second Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Second Name';}" />-->
    <!--<input type="text" class="email"value="Enter Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Email';}"  />-->
    <!--<input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}"/>-->
    <!--<input type="submit"  value="SignUp"/>-->
  </div>
  <button title="Close (Esc)" type="button" class="mfp-close">×</button>
</div>