<nav id="user-navigator" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="col-md-2 col-sm-2 col-xs-2">
    <a href="<%= profile_path(current_user.id) %>" class="active">
      <%= image_tag "logo_inner.png", :style => 'width:127px; height:60px' %>
    </a>
  </div>
  <div class="container">

    <div class="col-md-2 col-sm-2 col-xs-2">
      <a href="<%= devices_path %>" class="active">
        <i class="fa fa-mobile fa-3x"></i>
        <span class="icon-label">Devices</span>
      </a>
    </div>

    <div class="col-md-2 col-sm-2 col-xs-2">
      <a href="/activities">
        <i class="fa fa-tachometer fa-3x"></i>
        <span class="icon-label">Activities</span>
      </a>
    </div>

    <div class="col-md-2 col-sm-2 col-xs-2">
      <a href="<%= edit_profile_path(current_user.id) %>">
        <i class="fa fa-user fa-3x"></i>
        <span class="icon-label">Profile</span>
      </a>
    </div>

    <div class="col-md-2 col-sm-2 col-xs-2">
      <a href="/contact-us">
        <i class="fa fa-life-ring fa-3x"></i>
        <span class="icon-label">Support</span>
      </a>
    </div>
    <% if user_signed_in? %>
        <div class="col-md-2 col-sm-2 col-xs-2">
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-power-off fa-3x"></i>
            <span class="icon-label">Logout</span>
          <% end %>
        </div>
    <% end %>
  </div>
</nav>