<!--- Header Starts Here --->
<div class="header" id="home">
  <div class="container">
    <div class="logo">
      <%= image_tag 'logo-text.png' %><br>
      <h5>You don't buy, They don't snatch</h5>
    </div>
    <div class="menu">
      <ul class="menu-top">
        <li><a id="login" class="play-icon popup-with-zoom-anim" href="#small-dialog">Log In</a></li><!--popup-with-zoom-anim #small-dialog-->
        <li><a id="sign_up" class="play-icon popup-with-zoom-anim" href="#small-dialog1">Sign up</a></li><!-- popup-with-zoom-anim #small-dialog1-->
        <li><div class="main">
          <section>
            <button id="showRight" class="navig"></button>
          </section>
        </div></li>
      </ul>
      <!---pop-up-box---->
      <script type="text/javascript" src="/assets/modernizr.custom.js"></script>
      <link href="/assets/popuo-box.css" rel="stylesheet" type="text/css" media="all"/>
      <script src="/assets/jquery.magnific-popup.js" type="text/javascript"></script>
      <!---//pop-up-box---->
      <div id="small-dialog" class="mfp-hide">
        <div class="login">
          <%= simple_form_for(:user, :url => session_path(:user)) do |f| %>
              <h3>Log In</h3>
              <h4>Already a Member</h4>
              <%= f.input :email, label: false, :wrapper => false, required: false, autofocus: true, :placeholder => 'Email', :onfocus => "this.value = '';", :onblur => "if (this.value == '') {this.value = 'Email';}" %>
              <%= f.input :password, label: false, :wrapper => false, required: false, :placeholder => 'Password', :onfocus => "this.value = '';", :onblur => "if (this.value == '') {this.value = 'Password';}" %>
              <%= f.submit 'Login' %>
          <% end %>
        </div>
      </div>

      <div id="small-dialog1" class="mfp-hide">
        <div class="signup">
          <h3>Sign Up</h3>
          <h4>Enter Your Details Here</h4>
          <%= simple_form_for(:user, url: registration_path(:user), remote: true) do |f| %>
              <%= f.error_notification %>
              <%= f.input :email, label: false, wrapper: false, required: true, placeholder: 'Email' %>
              <%= f.input :password, label: false, wrapper: false, required: true, placeholder: 'Password' %>

              <%= f.button :submit, 'Sign up' %>
          <% end %>
        </div>
      </div>
      <script>
          $(document).ready(function() {
              $('.popup-with-zoom-anim').magnificPopup({
                  type: 'inline',
                  fixedContentPos: false,
                  fixedBgPos: true,
                  overflowY: 'auto',
                  closeBtnInside: true,
                  preloader: false,
                  midClick: true,
                  removalDelay: 300,
                  mainClass: 'my-mfp-zoom-in'
              });

          });
      </script>
      <!--- Navigation from Right To Left --->
      <link rel="stylesheet" type="text/css" href="/assets/component.css" />
      <script src="/assets/modernizr.custom.js"></script>
      <div class="cbp-spmenu-push">
        <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
          <h3>Menu</h3>
          <a href="#home" class="scroll">Home</a>
          <a href="#about" class="scroll">About</a>
          <!--<a href="#portfolio" class="scroll">Portfolio</a>-->
        </nav>
      </div>
      <script src="/assets/classie.js"></script>
      <script>
          var menuRight = document.getElementById( 'cbp-spmenu-s2' ),
                  showRight = document.getElementById( 'showRight' ),
                  body = document.body;

          showRight.onclick = function() {
              classie.toggle( this, 'active' );
              classie.toggle( menuRight, 'cbp-spmenu-open' );
              disableOther( 'showRight' );
          };

          function disableOther( button ) {
              if( button !== 'showRight' ) {
                  classie.toggle( showRight, 'disabled' );
              }
          }
      </script>
      <!--- Navigation from Right To Left --->
      <script type="text/javascript" src="/assets/easing.js"></script>

    </div>
    <div class="clearfix"></div>
    <div class="header-bottom">
      <p>Register Your device</p>
      <h1>RegDevice</h1>
      <form class="search-form-wrapper cf">
        <input id="search-box" type="text" placeholder="Please insert your IMEI or serial key">
        <button type="submit" id="search-btn">Check</button>
      </form>  
      <!--<a href="#">Get Started</a>-->
      <p class="reward">OR SEND US YOUR IMEI AND <u>GET REGISTERED!</u></p>
    </div>
  </div>
</div>
<!--- Header Ends Here --->
