<!-- Header Starts Here -->
<div class="header" id="home">
  <div class="container">
    <div class="logo">
      <%#= image_tag 'logo.png' %>
    </div>
    <div class="menu">
      <ul class="menu-top">
        <li class="hide"><a href="#home" class="homepage-links" data-type="search-page">Home</a></li>
        <li><a href="#login" class="homepage-links" data-type="login-page">Login</a></li>
        <li><a href="#register" class="homepage-links" data-type="register-page">Register</a></li>
        <li><div class="main">
          <section>
            <button id="showRight" class="navig"></button>
          </section>
        </div></li>
      </ul>

      <!-- Navigation from Right To Left -->
      <link rel="stylesheet" type="text/css" href="/assets/component.css" />
      <script src="/assets/modernizr.custom.js"></script>
      <div class="cbp-spmenu-push">
        <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
          <h3>Menu</h3>
          <a href="#home" class="scroll">Home</a>
          <a href="#about" class="scroll">About</a>
          <!--<a href="#portfolio" class="scroll">Portfolio</a>-->
        </nav>
      </div>
      <script src="/assets/classie.js"></script>
      <script>
          var menuRight = document.getElementById( 'cbp-spmenu-s2' ),
                  showRight = document.getElementById( 'showRight' ),
                  body = document.body;

          showRight.onclick = function() {
              classie.toggle( this, 'active' );
              classie.toggle( menuRight, 'cbp-spmenu-open' );
              disableOther( 'showRight' );
          };

          function disableOther( button ) {
              if( button !== 'showRight' ) {
                  classie.toggle( showRight, 'disabled' );
              }
          }
      </script>
      <!-- Navigation from Right To Left -->
      <script type="text/javascript" src="/assets/easing.js"></script>

    </div>
    <div class="clearfix"></div>
    <div class="header-bottom">
      <!-- Search Form On HomePage -->
      <div class="pages search-page">
        <p>Register Your device</p>
        <h1>RegDevice</h1>
        <%= form_tag(search_path, remote: true, method: "get", class: "search-form-wrapper cf") do %>
        <%= text_field_tag(:search_key, "", placeholder: "Please insert your IMEI or serial key") -%>
        <%= button_tag("Check", id: "search-btn") -%>
        <% end %>
      </div>

      <!-- Login Form On HomePage -->
      <div class="pages login-page hide">
        <%= simple_form_for(:user, :url => session_path(:user), html: {class: 'form-2'}) do |f| %>
        <h1><span class="log-in">Log in<!--</span> or <span class="sign-up">sign up</span>--></h1>
        <p class="float">
          <label for="login"><i class="icon-user"></i>Email</label>
          <input type="text" name="user[email]" placeholder="Email">
        </p>
        <p class="float">
          <label for="password"><i class="icon-lock"></i>Password</label>
          <input type="password" name="user[password]" placeholder="Password" class="showpassword">
        </p>
        <p class="clearfix">
          <!-- <a href="#" class="log-twitter">Log in with Google</a> -->
          <input type="submit" name="submit" value="Log in">
        </p>
        <% end %>
      </div>

      <!-- Registration Form On HomePage -->
      <div class="pages register-page hide">
        <%= simple_form_for(:user, :url => registration_path(:user), html: {class: 'form-2'}) do |f| %>
        <h1><span class="log-in">Register<!--</span> or <span class="sign-up">sign in</span>--></h1>
        <p class="float">
          <label for="login"><i class="icon-user"></i>Email</label>
          <input type="text" name="user[email]" placeholder="Email">
        </p>
        <p class="float">
          <label for="password"><i class="icon-lock"></i>Password</label>
          <input type="password" name="user[password]" placeholder="Password" class="showpassword">
        </p>
        <p class="clearfix">
          <!-- <a href="#" class="log-twitter">Log in with Google</a> -->
          <input type="submit" name="submit" value="Register">
        </p>
        <% end %>
      </div>
    </div>

  </div>
</div>
<!-- Header Ends Here -->
