<!--- Header Starts Here --->
<div class="header" id="home">
  <div class="container">
    <div class="logo">
      <%#= image_tag 'logo.png' %>
    </div>
    <div class="menu">
      <ul class="menu-top">
        <li class="hide"><a href="#home" class="homepage-links" data-type="search-page">Home</a></li>
        <li><a href="#login" class="homepage-links" data-type="login-page">Login</a></li>
        <li><a href="#register" class="homepage-links" data-type="register-page">Register</a></li>
        <!-- <li><a id="login" class="play-icon popup-with-zoom-anim" href="#login" data-remote="true">Log In</a></li><!--popup-with-zoom-anim #small-dialog--> -->
        <!-- <li><a id="sign_up" class="play-icon popup-with-zoom-anim" href="#register">Sign up</a></li><!-- popup-with-zoom-anim #small-dialog1--> -->
        <li><div class="main">
          <section>
            <button id="showRight" class="navig"></button>
          </section>
        </div></li>
      </ul>
      <!---pop-up-box---->
      <script type="text/javascript" src="/assets/modernizr.custom.js"></script>
      <link href="/assets/popuo-box.css" rel="stylesheet" type="text/css" media="all"/>
      <script src="/assets/jquery.magnific-popup.js" type="text/javascript"></script>
      <!---//pop-up-box---->
      <div id="small-dialog" class="mfp-hide">
        <div class="login">
          <%= simple_form_for(:user, :url => session_path(:user)) do |f| %>
              <h3>Log In</h3>
              <h4>Already a Member</h4>
              <%= f.input :email, label: false, :wrapper => false, required: false, autofocus: true, :placeholder => 'Email', :onfocus => "this.value = '';", :onblur => "if (this.value == '') {this.value = 'Email';}" %>
              <%= f.input :password, label: false, :wrapper => false, required: false, :placeholder => 'Password', :onfocus => "this.value = '';", :onblur => "if (this.value == '') {this.value = 'Password';}" %>
              <%= f.submit "Login" %>
          <% end %>
        </div>
      </div>

      <div id="small-dialog1" class="mfp-hide">
        <div class="signup">
          <h3>Sign Up</h3>
          <h4>Enter Your Details Here</h4>
          <%= simple_form_for(:user, url: registration_path(:user)) do |f| %>
              <%#= f.error_notification %>
              <%= f.input :name, required: true, autofocus: true, label: false, :wrapper => false, :placeholder => 'Name' %>
              <%= f.input :cnic, label: false, :wrapper => false, required: true, :placeholder => 'CNIC' %>
              <%= f.input :email, label: false, :wrapper => false, required: true, :placeholder => 'Email' %>
              <%= f.input :password, label: false, :wrapper => false, required: true, :placeholder => 'Password' %>
              <%= f.input :password_confirmation, label: false, :wrapper => false, required: true, :placeholder => 'Confirm Password' %>
              <%= f.input :phone, label: false, :wrapper => false, required: true, :placeholder => 'Contact No.' %>
              <%= f.simple_fields_for :devices do |d| %>
                  <%= d.input :type, collection: Device::TYPE, label: false, :wrapper => false, include_blank: false, required: true %>
                  <%= d.input :key, label: false, :wrapper => false, required: true, :placeholder => 'Device Key' %>
              <% end %>
              <%= f.button :submit, 'Sign up' %>
          <% end %>
          <!--<input type="text" value="First Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'First Name';}" />-->
          <!--<input type="text" value="Second Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Second Name';}" />-->
          <!--<input type="text" class="email"value="Enter Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Email';}"  />-->
          <!--<input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}"/>-->
          <!--<input type="submit"  value="SignUp"/>-->
        </div>
      </div>
      <script>
          $(document).ready(function() {
              $('.popup-with-zoom-anim').magnificPopup({
                  type: 'inline',
                  fixedContentPos: false,
                  fixedBgPos: true,
                  overflowY: 'auto',
                  closeBtnInside: true,
                  preloader: false,
                  midClick: true,
                  removalDelay: 300,
                  mainClass: 'my-mfp-zoom-in'
              });

          });
      </script>
      <!--- Navigation from Right To Left --->
      <link rel="stylesheet" type="text/css" href="/assets/component.css" />
      <script src="/assets/modernizr.custom.js"></script>
      <div class="cbp-spmenu-push">
        <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
          <h3>Menu</h3>
          <a href="#home" class="scroll">Home</a>
          <a href="#about" class="scroll">About</a>
          <!--<a href="#portfolio" class="scroll">Portfolio</a>-->
        </nav>
      </div>
      <script src="/assets/classie.js"></script>
      <script>
          var menuRight = document.getElementById( 'cbp-spmenu-s2' ),
                  showRight = document.getElementById( 'showRight' ),
                  body = document.body;

          showRight.onclick = function() {
              classie.toggle( this, 'active' );
              classie.toggle( menuRight, 'cbp-spmenu-open' );
              disableOther( 'showRight' );
          };

          function disableOther( button ) {
              if( button !== 'showRight' ) {
                  classie.toggle( showRight, 'disabled' );
              }
          }
      </script>
      <!--- Navigation from Right To Left --->
      <script type="text/javascript" src="/assets/easing.js"></script>

    </div>
    <div class="clearfix"></div>
    <div class="header-bottom">
      <!-- Search Form On HomePage -->
      <div class="pages search-page">
        <p>Register Your device</p>
        <h1>RegDevice</h1>
        <%= form_tag(search_path, remote: true, method: "get", class: "search-form-wrapper cf") do %>
        <%= text_field_tag(:search_key, "", placeholder: "Please insert your IMEI or serial key") -%>
        <%= button_tag("Check", id: "search-btn") -%>
        <% end %>
        <!--<a href="#">Get Started</a>-->
        <!--<p class="reward">OR SEND US YOUR IMEI AND <u>GET REGISTERED!</u></p>-->
        <div class="notice bg-success" style="border-radius: 5px;margin-top: 10px;">
          <%= notice %>
        </div>
        <span class="alert"><%= alert %></span>
      </div>

      <!-- Login Form On HomePage -->
      <div class="pages login-page hide">
        <%= simple_form_for(:user, :url => session_path(:user), html: {class: 'form-2'}) do |f| %>
        <h1><span class="log-in">Log in<!--</span> or <span class="sign-up">sign up</span>--></h1>
        <p class="float">
          <label for="login"><i class="icon-user"></i>Email</label>
          <input type="text" name="user[email]" placeholder="Email">
        </p>
        <p class="float">
          <label for="password"><i class="icon-lock"></i>Password</label>
          <input type="password" name="user[password]" placeholder="Password" class="showpassword">
        </p>
        <p class="clearfix">
          <!-- <a href="#" class="log-twitter">Log in with Google</a> -->
          <input type="submit" name="submit" value="Log in">
        </p>
        <% end %>
      </div>

      <!-- Registration Form On HomePage -->
      <div class="pages register-page hide">
        <%= simple_form_for(:user, :url => registration_path(:user), html: {class: 'form-2'}) do |f| %>
        <h1><span class="log-in">Register<!--</span> or <span class="sign-up">sign in</span>--></h1>
        <p class="float">
          <label for="login"><i class="icon-user"></i>Email</label>
          <input type="text" name="user[email]" placeholder="Email">
        </p>
        <p class="float">
          <label for="password"><i class="icon-lock"></i>Password</label>
          <input type="password" name="user[password]" placeholder="Password" class="showpassword">
        </p>
        <p class="clearfix">
          <!-- <a href="#" class="log-twitter">Log in with Google</a> -->
          <input type="submit" name="submit" value="Register">
        </p>
        <% end %>
      </div>
    </div>

  </div>
</div>
<!--- Header Ends Here --->
