<%= render :partial => 'header' %>
<%= render :partial => 'about_us' %>
<!-- Interduce Starts Here  ---->
<!--<div class="interduce">-->
      <!--<div class="col-md-6 inter-row-column">-->
        <!--<h4>Who are we?</h4>-->
        <!--<p>Project Shaoor is an initiative taken by group of Pakistani Software Engineers where the target is to solve domestic issues with or without Government's help. We believe in “Apni Madad Aap” and that’s what we are trying to achieve by taking such initiatives. </p>-->
        <!--<p>This is just the beginning, RegDevice is Chapter#1 of Project Shaoor we have lots of other ideas to launch and we will. In Sha Allah </p>-->
      <!--</div>-->
      <!--<div class="clearfix"></div>-->
<!--</div>-->
<!-- Interduce Ends Here  ---->
<!--- Slider Starts Here --->
<div class="slider">
  <div class="container">
    <div class="slider-content">
      <script src="/assets/responsiveslides.min.js"></script>
      <script>
          // You can also use "$(window).load(function() {"
          $(function () {
              // Slideshow 4
              $("#slider4").responsiveSlides({
                  auto: true,
                  pager: true,
                  nav: true,
                  speed: 1000,
                  namespace: "callbacks",
                  before: function () {
                      $('.events').append("<li>before event fired.</li>");
                  },
                  after: function () {
                      $('.events').append("<li>after event fired.</li>");
                  }
              });

          });
      </script>
      <!----//End-slider-script---->
      <!-- Slideshow 4 -->
      <div  id="top" class="callbacks_container">
        <ul class="rslides" id="slider4">
          <li>
            <div class="slider-top">
              <p> If you buy stolen goods and even if you paid a fair price and didn’t know that the goods were stolen.
                The person who originally owned them is still the legal owner. </p>
              <p class="below"><i>Buyer of Stolen Goods, International Law</i> </p>
            </div>
          </li>
          <li>
            <div class="slider-top">
              <p>3 years of imprisonment if charged with 411 <br>
                7 years of imprisonment if charged with 412 <br>
                Imprisonment for life if charged with 413 of Pakistan Penal Code.</p>
              <p class="below"><i>Penalties for Retaining such property, Pakistan Law</i></p>
            </div>
          </li>
        </ul>
      </div>
      <div class="clearfix"> </div>
      <!--- banner Slider Ends Here --->
    </div>
  </div>
</div>
</div>
</div>
<!--- Slider Ends Here --->
<!--- Portfolio Starts Here --->
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="container">
    <ul class="numbers">
      <li>
        <div class="number-top">
          <h4><%=active_users%></h4>
          <p>Active Users</p>
        </div>
      </li>
      <li>
        <div class="number-top">
          <h4><%=reg_devices%></h4>
          <p>Registered Devices</p>
        </div>
      </li>
      <li>
        <div class="number-top">
          <h4>0</h4>
          <p>Reported to PTA</p>
        </div>
      </li>
      <li>
        <div class="number-top">
          <h4><%=reg_dealers%></h4>
          <p>Registered Dealers</p>
        </div>
      </li>
    </ul>
  </div>
</div>
<!--- Portfolio Ends Here --->