<%= render :partial => 'header' %>
<%= render :partial => 'about_us' %>
<!-- Interduce Starts Here  ---->
<div class="interduce">
  <div class="container">
    <div class="row interduce-row">
      <div class="col-md-6 inter-row-column2">
        <img src="<%= image_url('iphone-1.png') %>" alt=""/>
      </div>
      <div class="col-md-6 inter-row-column">
        <h4><span>INTRODUCING</span> THE FUDI APP</h4>
        <p>Morbi eget posuere dolor. Pellentesque cursus aliquet aliquet. Aeneanet felis sit amet diam mollis ullamcorper. Nullam consequat sem a ante vest ibulum tristique. Suspendisse tristique lacus ac mattis porta. </p>
        <p>Vivamus ligula quam, vehicula non lacinia sed, faucibus sit amet libero. In libero dui, eleifend eu nisi id, egestas fringilla odio. In varius quam a massa hendrerit ullamcorper a eu justo. Suspendisse porta mattis convallis.Aenean tempus ligula ac odio rhoncus, quis aliquam dolor accumsan. </p>
        <p>Suspendisse aliquet felis consectetur libero congue, sed pulvinar diam malesuada. Duis vehicula a nibh id hendrerit. Donec sit amet ultricesante, a mattis massa. </p>
        <ul class="inter-duce">
          <li><i class="icon4"></i></li>
          <li><i class="icon5"></i></li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- Interduce Ends Here  ---->
<!--- Slider Starts Here --->
<div class="slider">
  <div class="container">
    <div class="slider-content">
      <script src="/assets/responsiveslides.min.js"></script>
      <script>
          // You can also use "$(window).load(function() {"
          $(function () {
              // Slideshow 4
              $("#slider4").responsiveSlides({
                  auto: true,
                  pager: true,
                  nav: true,
                  speed: 500,
                  namespace: "callbacks",
                  before: function () {
                      $('.events').append("<li>before event fired.</li>");
                  },
                  after: function () {
                      $('.events').append("<li>after event fired.</li>");
                  }
              });

          });
      </script>
      <!----//End-slider-script---->
      <!-- Slideshow 4 -->
      <div  id="top" class="callbacks_container">
        <ul class="rslides" id="slider4">
          <li>
            <div class="slider-top">
              <img src="<%= image_url('1.jpg') %>" alt=""/>
              <p>"I am so happy because I found this recipe, and it just made my life easier.<br>Thanks  so much for sharing!"</p>
              <p class="below">- Michael Dawson, San Francisco, CA -</p>
            </div>
          </li>
          <li>
            <div class="slider-top">
              <img src="<%= image_url('2.jpg') %>" alt=""/>
              <p>"I am so happy because I found this recipe, and it just made my life easier.<br>Thanks  so much for sharing!"</p>
              <p class="below">- Aaron Dawson, San Francisco, CA -</p>
            </div>
          </li>
          <li>
            <div class="slider-top">
              <img src="<%= image_url('3.jpg') %>" alt=""/>
              <p>"I am so happy because I found this recipe, and it just made my life easier.<br>Thanks  so much for sharing!"</p>
              <p class="below">- Johnson Dawson, San Francisco, CA -</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="clearfix"> </div>
      <!--- banner Slider Ends Here --->
    </div>
  </div>
</div>
</div>
</div>
<!--- Slider Ends Here --->
<!--- Portfolio Starts Here --->
<div class="portfolio" id="portfolio">
  <div class="container">
    <div class="portfolio-top">
      <h3>BROWSE BY CUISINES</h3>
      <span class="linet-red"></span>
    </div>
  </div >
  <div class="portfolio-start">
    <div class="portfolio-img">
      <a href="#small-dialog-it" class="play-icon popup-with-zoom-anim"><img src="<%= image_url('s1.jpg') %>" alt=""/></a>
      <div id="small-dialog-it" class="mfp-hide">
        <div class="portfolio-items">
          <img src="<%= image_url('s1.jpg') %>" alt="">
          <h4>Italian Food</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
        </div>
      </div>
    </div>
    <div class="portfolio-img">
      <a href="#small-dialog-in" class="play-icon popup-with-zoom-anim"><img src="<%= image_url('s2.jpg') %>" alt=""/></a>
      <div id="small-dialog-in" class="mfp-hide">
        <div class="portfolio-items">
          <img src="<%= image_url('s2.jpg') %>" alt="">
          <h4>Indian Food</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
        </div>
      </div>
    </div>
    <div class="portfolio-img">
      <a href="#small-dialog-fr" class="play-icon popup-with-zoom-anim"><img src="<%= image_url('s3.jpg') %>" alt=""/></a>
      <div id="small-dialog-fr" class="mfp-hide">
        <div class="portfolio-items">
          <img src="<%= image_url('s3.jpg') %>" alt="">
          <h4>French Food</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
        </div>
      </div>
    </div>
    <div class="portfolio-img">
      <a href="#small-dialog-sh" class="play-icon popup-with-zoom-anim"><img src="<%= image_url('s4.jpg') %>" alt=""/></a>
      <div id="small-dialog-sh" class="mfp-hide">
        <div class="portfolio-items">
          <img src="<%= image_url('s4.jpg') %>" alt="">
          <h4>Steak House Food</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
        </div>
      </div>
    </div>
    <div class="portfolio-img">
      <a href="#small-dialog-sf" class="play-icon popup-with-zoom-anim"><img src="<%= image_url('s5.jpg') %>" alt=""/></a>
      <div id="small-dialog-sf" class="mfp-hide">
        <div class="portfolio-items">
          <img src="<%= image_url('s5.jpg') %>" alt="">
          <h4>Sea Food</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
        </div>
      </div>
    </div>
    <div class="clearfix">
      <div class="portfolio-img">
        <a href="#small-dialog-su" class="play-icon popup-with-zoom-anim"><img src="<%= image_url('s6.jpg') %>" alt=""/></a>
        <div id="small-dialog-su" class="mfp-hide">
          <div class="portfolio-items">
            <img src="<%= image_url('s6.jpg') %>" alt="">
            <h4>Sushi Food</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
          </div>
        </div>
      </div>
      <div class="portfolio-img">
        <a href="#small-dialog-me" class="play-icon popup-with-zoom-anim"><img src="<%= image_url('s7.jpg') %>" alt=""/></a>
        <div id="small-dialog-me" class="mfp-hide">
          <div class="portfolio-items">
            <img src="<%= image_url('s7.jpg') %>" alt="">
            <h4>Mexican Food</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
          </div>
        </div>
      </div>
      <div class="portfolio-img">
        <a href="#small-dialog-ch" class="play-icon popup-with-zoom-anim"><img src="<%= image_url('s8.jpg') %>" alt=""/></a>
        <div id="small-dialog-ch" class="mfp-hide">
          <div class="portfolio-items">
            <img src="<%= image_url('s8.jpg') %>" alt="">
            <h4>Chinese Food</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
          </div>
        </div>
      </div>
      <div class="portfolio-img">
        <a href="#small-dialog-pi" class="play-icon popup-with-zoom-anim"><img src="<%= image_url('s9.jpg') %>" alt=""/></a>
        <div id="small-dialog-pi" class="mfp-hide">
          <div class="portfolio-items">
            <img src="<%= image_url('s9.jpg') %>" alt="">
            <h4>PIZZA</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
          </div>
        </div>
      </div>
      <div class="portfolio-img">
        <a href="#small-dialog-am" class="play-icon popup-with-zoom-anim"><img src="<%= image_url('s10.jpg') %>" alt=""/></a>
        <div id="small-dialog-am" class="mfp-hide">
          <div class="portfolio-items">
            <img src="<%= image_url('s10.jpg') %>" alt="">
            <h4>American Food</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="container">
    <ul class="numbers">
      <li>
        <div class="number-top">
          <h4>23,567</h4>
          <p>Recipes Available</p>
        </div>
      </li>
      <li>
        <div class="number-top">
          <h4>431,729</h4>
          <p>Active Users</p>
        </div>
      </li>
      <li>
        <div class="number-top">
          <h4>892,173</h4>
          <p>Positive Reviews</p>
        </div>
      </li>
      <li>
        <div class="number-top">
          <h4>56,581</h4>
          <p>Photos & Videos</p>
        </div>
      </li>
      <li>
        <div class="number-top">
          <h4>3,182</h4>
          <p>Spices and Herbs</p>
        </div>
      </li>
    </ul>
  </div>
</div>
<!--- Portfolio Ends Here --->