<%- model_class = Ticket -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
<table class="table table-striped devices-table">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:subject) %></th>
    <th><%= model_class.human_attribute_name(:type) %></th>
    <th><%= model_class.human_attribute_name(:description) %></th>
    <th><%= model_class.human_attribute_name(:status) %></th>
  </tr>
  </thead>
  <tbody>
  <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.subject %></td>
        <td><%= ticket.type %></td>
        <td><%= ticket.description %></td>
        <td class="status-<%=ticket.id%>"><%= ticket.status %></td>

      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_ticket_path,
            :class => 'btn btn-primary btn-lg' %>

