<!DOCTYPE html>
<html>
<head>
  <title>RegDevice - Register your device</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
  <script type="text/javascript">
      jQuery(document).ready(function($) {
          $(".scroll").click(function(event){
              event.preventDefault();
              $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
          });
      });
  </script>
  <script type="text/javascript" src="/assets/jquery.jscrollpane.min.js"></script>
  <script type="text/javascript" id="sourcecode">
      $(function()
      {
          $('.scroll-pane').jScrollPane();
      });
  </script>
  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
</head>
<body class="<%= current_page?(root_url) ? 'landing' : 'account-page'  %>">
    <% if current_user %>
        <%= render 'shared/main_nav'%>
        <div id="wrapper">
          <%= render 'shared/sidebar'%>
          <div id="page-content-wrapper">
            <div class="container-fluid">
              <%= yield %>
            </div>
          </div>
        </div>
    <% else %>
        <%= yield %>
    <% end %>
    <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
    <div class="alert-bar navbar navbar-static-top alert alert-<%= name %>" id="flash_<%= name %>" align="center">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= msg %>
    </div>
    <% end %>
    <% end %>
    <%= render :template => 'layouts/footer' %>
</body>
</html>
