<!DOCTYPE html>
<html>
<head>
  <title>Regdevice - A project by ShaoOr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="landing">
<% if notice %>
    <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
<% end %>
<%= render partial: 'layouts/home_header' %>
<%= yield %>
<%= render partial: 'layouts/footer' %>

</body>
</html>
